/* styles.css */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: #333;
  color: white;
}

.logo img {
  height: 60px;
  /* width: 100px; */
}

.get-started button {
  background-color: #007BFF;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}

.content {
  padding: 2rem;
  text-align: center;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  border: 1px solid #ddd;
  margin: 1rem;
  padding: 1rem;
  width: 300px;
  text-align: center;
}

.card img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}
